.background-image {
  position: fixed;
}

.annotator {
  margin: 50px;
  display: block;
  height: 512px;
  width: 512px;
}

#canvas {
  position: fixed;
  z-index: 1;
}

.controls {
  position: fixed;
  z-index: 2;
  display: grid;
  margin: 50px;
  left: 620px;
  top: 0;
}

.controls button {
  margin: 10px;
}

#alternative_image {
  opacity: 1;
  display: none;
  width: 512px;
  height: 512px;
}

#canvas {
  opacity: 0.85;
}

.hidden {
  display: none;
}