<div class="flex flex-row">

    <div class="annotator p-5" [ngClass]="{'hidden' : loading_next}">

        <canvas id="canvas_write" width="1024" height="1024"
                style="width: 1024px; height: 1024px; z-index: 99"></canvas>
        <canvas id="canvas_readonly" width="1024" height="1024" style="width: 1024px; height: 1024px"></canvas>

        <img class="background-image" src="" width="1024" height="1024" id="scene_original"/>
        <img class="background-image" src="" width="1024" height="1024" id="scene_0"/>
        <img class="background-image" src="" width="1024" height="1024" id="scene_1"/>
        <img class="background-image" src="" width="1024" height="1024" id="scene_2"/>
        <img class="background-image" src="" width="1024" height="1024" id="scene_3"/>
        <img class="background-image" src="" width="1024" height="1024" id="scene_4"/>
        <img class="background-image" src="" width="1024" height="1024" id="scene_5"/>
        <img class="background-image" src="" width="1024" height="1024" id="scene_6"/>
        <img class="background-image" src="" width="1024" height="1024" id="scene_7"/>
        <img class="background-image" src="" width="1024" height="1024" id="scene_8"/>
        <img class="background-image" src="" width="1024" height="1024" id="scene_9"/>
        <img class="background-image" src="" width="1024" height="1024" id="scene_Home"/>


    </div>

    <canvas id="canvas_tmp" width="512" height="512" style="width: 512px; height: 512px"></canvas>


    <div class="p-5">


        <div class="controls flex flex-row p-5">

            <button class="m-2 material-icons bg-teal-600 py-4 px-4 rounded-full" id="snow"
                    (click)="set_color(1)"
                    [ngClass]="{'ring-2 ring-offset-4 ring-offset-slate-50' : current_color==1}">
                ac_unit
            </button>


            <button class="m-2 material-symbols-outlined bg-fuchsia-600   py-4 px-4 rounded-full" id="clouds"
                    (click)="set_color(2)"
                    [ngClass]="{'ring-2 ring-offset-4 ring-offset-slate-50' : current_color==2}">
                filter_drama
            </button>

            <button class="m-2 material-icons  bg-red-600 py-4 px-4 rounded-full" id="semitransparant_clouds"
                    (click)="set_color(4)"
                    [ngClass]="{'ring-2 ring-offset-4 ring-offset-slate-50' : current_color==4}">
                filter_drama
            </button>


            <button class="m-2 material-icons bg-yellow-500 py-4 px-4 rounded-full" id="water"
                    (click)="set_color(3)"
                    [ngClass]="{'ring-2 ring-offset-4 ring-offset-slate-50' : current_color==3}">
                water
            </button>


            <button class="m-2 material-icons bg-gray-200 py-4 px-4 rounded-full" id="eraser"
                    (click)="set_color(0)"
                    [ngClass]="{'ring-2 ring-offset-4 ring-offset-slate-50' : current_color==0}">
                format_color_reset
            </button>

        </div>


        <div class="controls flex flex-col p-5">

            <button class="bg-blue-200 text-white font-bold py-2 px-4 rounded-full" id="next">
                Next (CTRL + ENTER)
            </button>

            <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded-full" id="undo">Undo
                (-)
            </button>

            <button class="bg-red-500 text-white font-bold py-2 px-4 rounded-full" id="redo">clear all
                (/)
            </button>

        </div>

        <div class="w-96 p-5">
            <span>You can switch between different bands using the number block on the keyboard.</span>
            <br/>
            <br/>
            <span>
                <b>The following bands are available:</b><br/>
                default - true color image (5-95 percentile)<br/>
                0 - sentinel TCI<br/>
                1 - false color image (B02, B03, B12)<br/>
                2 - s2cloudless probability map<br/>
                3 - highlights <br/>
                4 - sentinel TCI inverted<br/>
                5 - cloud mask (.4 threshold)<br/>
                6 - cloud mask (.6 threshold)<br/>
                7 - exoLabs snow classification<br/>
                8 - exoLabs classification<br/>
                9 - if available, previous annotation <br/>
                HOME - Swiss Map <br/>
            </span>
        </div>

        <div class="w-96 p-5">
            <span><b>Additional Commands</b></span>
            <br/>
            <span>- <b>Holding +</b> Marks all nearby pixel with similar color</span>
            <br/>

            <span>- <b>Holding *</b> Marks all pixel with similar color</span>

            <br/>
            <span>- The threshold can be adjusted using the the UP/DOWN arrow keys.
                The threshold is currently set to: {{threshold}}</span>
            <br/>
            <span>- Pressing "." hides all annotations.</span>
        </div>

    </div>
</div>