.background-image {
  position: fixed;
}

.annotator {
  display: block;
  height: 1024px;
  width: 1024px;
  user-select: none;
}

#canvas_write, #canvas_readonly {
  position: fixed;
  z-index: 1;
}

#alternative_image {
  opacity: 1;
  display: none;
  width: 1024px;
  height: 1024px;
}

#canvas {
  opacity: 0.85;
}

.hidden {
  opacity: 0;
}